<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railscope</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="<%= railscope.root_path %>assets/app.css">
  </head>
  <body class="bg-[#0d1117] text-[#c9d1d9]">
    <%= yield %>
    <script type="module" src="<%= railscope.root_path %>assets/app.js"></script>
  </body>
</html>
